body {
  background-color: #3d453b;
  margin: 0;
  padding: 0;
  color: white;
  font-size: large;
}

.app {
  display: flex;
  width: 100%;
}

.filter {
  width: 20%;
  position: fixed;
}

.filter_box {
  margin: 10px;
  padding: 5px;
  text-align: center;
  height: 10%;
  width: 80%;
  border-radius: 10px;
  background-color: #050505;
}

.allproducts {
  width: 80%;
  margin-left: 20%;
}

.drop_down {
  margin: 10px 0px;
}

.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
